[submodule "extlib/gaia"]
	path = extlib/gaia
	url = https://github.com/b-inary/gaia-software.git
[submodule "extlib/benz-gaia"]
	path = extlib/benz-gaia
	url = https://github.com/wasabiz/benz-gaia.git
